{% extends "base.html.twig" %}

{% block title %} Hem {% endblock %}


{% block content %}
    <div class="container">
    <h1>Hem</h1>
    <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Josefine<span class="text-muted"> Niirola</span></h2>
                <p class="lead">Hej!</p>
                <p class="lead">Josefine heter jag och studerar andra året på BTH. Just nu går jag om denna kurs. Jag har använt mig av bootstrap för denna sida.</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{{ absolute_url("img/me.jpg") }}" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/>
            </div>
        </div>
    </div>
{% endblock %}
